.item{
    width: 300px;
    height: 300px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 12%;
    box-sizing: border-box;
    margin: 12px;
    cursor: pointer;
    transition: 500ms;
}

.item:hover{
    background-color: burlywood;
    
    animation: bounce 500ms 1;
}

@keyframes bounce{
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}