@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;900&display=swap');
*{
  font-family: 'Roboto Slab', serif;
}
body {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  padding-top: 24px;
}
.header > .col{
  align-items: center;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pay-form{
  background-color: #efefef;
  padding: 2rem;
  border-radius: 12px;
  margin: 1rem 0rem;
  text-align: center;
}
.cardtype{
  font-size: 1.3rem;
  margin: 6px;
  transition: 300ms;
}
.backdrop{
  background-color: #003c71;
  position: fixed;
  width: 150%;
  height: 70%;
  top: -10%;
  left: -25%;
  transition: 500ms;
  transform: rotate(2deg);
  z-index: -999;
}
.logo{
  height: 24px;
  width: auto;
}
h2{
  color: #fff;
  font-weight: 700 !important;
  text-align: right;
}

.back{
  padding: 1rem;
  background: #efefef;
}

.authImg{
  height: 5vh;
  width: auto;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 798px !important;
  }
  .pay-form{
    margin: 48px auto;
    padding: 3rem 8rem !important;
    background-color: #efefef;
  }
}